@model dotnetapp.Models.Player
@using(Html.BeginForm())
{
    @Html.DisplayNameFor(m=>m.Name)
    <br>
    @Html.EditorFor(m=>m.Name, new { htmlAttributes = new { placeholder = "Enter Player Name" } })
    <br>
    <br>
    @Html.DisplayNameFor(m=>m.Category)
    <br>
    @Html.EditorFor(m=>m.Category,new{htmlAttributes=new{placeholder="Enter Category"}})
    <br>
    <br>
    @Html.DisplayNameFor(m=>m.BiddingAmount)
    <br>
    @Html.EditorFor(m=>m.BiddingAmount, new { htmlAttributes = new { placeholder = "Enter Bidding Amount" } })
    <br>
    <br>
    <label>Select Department</label>
        <select asp-for="TeamId" asp-items="ViewBag.TeamId">
        <option value=''>Select Team</option>
        </select>
        <br><br>
    <input type="submit" value="Add Player"/>

}