@model Player
@using(Html.BeginForm())
{
    @Html.DisplayNameFor(m=>m.Id)
    <p></p>
    @Html.EditorFor(m=>m.Id,new{htmlAttributes=new{placeholder=""}})
    <input type="submit" class="btn btn-primary" style="display: inline-flex;">

}
@if(Convert.ToInt32(TempData["req"])==1)
{
   <b>@Html.DisplayNameFor(m=>m.Id)</b> <br>
    @Html.DisplayFor(m=>m.Id)
    <br>
    <br>
   <b> @Html.DisplayNameFor(m=>m.Name)</b> <br>
    @Html.DisplayFor(m=>m.Name)
    <br>
    <br>
   <b> @Html.DisplayNameFor(m=>m.Category)</b><br>
    @Html.DisplayFor(m=>m.Category)
    <br>
    <br>
    <b>@Html.DisplayNameFor(m=>m.Category)</b> <br>
    @Html.DisplayFor(m=>m.Category)
    <br>
    <br>
    <b>@Html.DisplayNameFor(m=>m.BiddingAmount)</b> <br>
    @Html.DisplayFor(m=>m.BiddingAmount)
    <br>
    <br>
    
}
@Html.ActionLink("Back to List","Index","Player")